body {
    font-family: Arial, Helvetica, sans-serif;
}


ul {
list-style-type: none;
display: inline;
margin: 22px 0 0 0;
padding: 0px;
text-decoration: none;

}

li {
    display: inline;
    padding: ;
   

}

/*



#Ueber {
    text-decoration: none;
    color: black;
    padding: 10px;
    
    }
    #Ueber:hover {
        text-decoration: underline;
        color: black;
        }

#Store {
        text-decoration: none;
        color: black;
        padding: 10px;
        }
        #Store:hover {
            text-decoration: underline;
            color: black;
            }

*/


#Apps {
width: 20px;
height: 20px;
padding-right: 25px;
}

#anmelden{
    text-decoration: none;
    color: white;
    background-color: rgb(66, 133, 224);
    border-radius: 2px;
    padding: 10px;
    
    }

   /* #Bilder {
        text-decoration: none;
        color: black;
        padding: 10px;
        }
        
        #Bilder:hover {
            text-decoration: underline;
            color: black;
            }
    

#Gmail {
    text-decoration: none;
    color: black;
    }
    #Gmail:hover {
        text-decoration: underline;
        color: black;
        }
*/
.upperpart {
    /*text-align: center;*/
   padding: 25px;
   
    
}
/*
.textinput {
    padding-left: 200px;
}
*/

input[type=search] {
    display: inline-block;
    border-color: rgba(223,225,229,0);
    border: 1px solid #dfe1e5;
    border-radius: 25px;
    margin-left: 75px;
    padding: 13px;
    box-sizing: border-box;
    width: 50em;
    

}

input[type=submit] {
    margin-top: 35px;
    box-sizing: border-box;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border-color: rgb(223, 225, 229);
    width: 120px;
    border: 0px solid gray;


}

input[type=submit]:hover {
    margin-top: 35px;
    box-sizing: border-box;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border-color: rgb(223, 225, 229);
    width: 120px;
    border: 1px solid gray;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #c6c6c6;


}

.smallbuttons {

font-size: 13px;

}
#Alle {
padding-right: 15px;
}

#Alle:hover {
    color:blue;
}

#News {
    padding: 15px;
    }
    
    #Alle:hover {
        color:blue;
    }

#News {
  padding: 15px;
        }
        
#News:hover {
            color:blue;
        }

#Maps {
    padding: 15px;
            }
            
#Maps:hover {
                color:blue;
            }



#Videos {
    padding: 15px;
                      }
                      
#Videos:hover {
       color:blue;
                      }

                      

#Shopping {
        padding: 15px;
               }
                              
#Shopping:hover {
    color:blue;
        }

                              
#Mehr {
     padding: 15px;
        }
                                                      
     #Mehr:hover {
    color:blue;
            }
#Einstellungen {
    padding: 15px;
        }
                                                                                                         
    #Einstellungen:hover {
        color:blue;
    }

#Suchfilter {
            padding: 10px;
               }

  #Suchfilter:hover {
       color:blue;
       background-color: #f8f8f8;
       border: solid 1px #c6c6c6;
  }
 
.line {
    color:grey;
    border-top: 1px grey;
}
    

.video-preview {
    display: flex;
    flex-wrap: nowrap;

}


  
.bodyupper {
line-height: 43px;
font-size: 14px;
color: grey;




}

/*
.buttons  {
    text-align: center;
    border-radius: 4px;
    padding: 20px 16px;
    line-height: 23px;
    height: 36px;
    border-color: grey;

    .button-left {
        padding-right: 25px;
    }
    

    
    

}*/

#privacy {
    width: 60px;
    height: 40px;
    padding-top: 10px;
    margin-left: 20px;

}

#Hinweise {
    font-size: 25px;
    font-weight: ;
    color: black;
    text-decoration: none;
    width: 99%;
    margin-left: 30px;

}

#ansehen {
    text-decoration: none;
    background-color: rgb(66, 133, 224);
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin-right:
    
}

#erinnern {
    text-decoration: none;
    color: rgb(66, 133, 224);
    cursor: pointer;
    padding-right: 15px;
    margin-left: 120px;

}

#erinnern:hover {
    text-decoration: none;
    color: rgb(66, 133, 224);
    background-color: rgba(153,153,153,.2);
    box-sizing: border-box;
    border-radius: 8px;
    ;


}

.footer {
    border: 1px solid;
    border-radius: 15px;
    padding-bottom: 24px;
    padding-right: 16px;
    padding-left: 16px;
    margin-left: 200px;
    margin-right: 1000px;
    
}

.Seitentext {
    margin-left: 200px;
}

.linkabove{
    font-size: 14px;
    padding-top: 1px;
    line-height: 1.3;
}

.arrow {
    height: 20px;
}

.uebersetzen {
    font-size: 14px;
    text-decoration: none;
    color: #1a0dab;
}

.uebersetzen:hover {
text-decoration: underline;

}

.linkhead {
    font-size: 20px;
    color: #1a0dab;
    margin-bottom: 3px;
    margin-top: 8px;
}

.linkhead:hover {
    text-decoration: underline;
    
}

.normaltext {
    margin-right: 1000px;
    color: rgb(95, 93, 93);
    font-size: 14px;
}

h1 {
    color: #222;
    font-size: 20px;
    line-height: 1.3;
    font-weight: lighter;



}

.lupe {
    height: 20px;
}

.bottomlist {
    text-decoration: none;
    color:  #1a0dab;
    font-size: 16px;

}

.bottomlist:hover {
    text-decoration: underline;
    

}

.bottomlogo {
    margin-left: 200px; 


}

